.card-article {
    width: 18rem;
    margin: auto;
}


.carousel-inner>.carousel-item>img {
    width: 100%;
    height: 20rem
}

.card-article>.card-body>.card-title {
    text-align: right;
}

.card-article>.card-body>.card-text {
    text-align: right;
}

.n-control>.carousel-item>img {
    width: 100%;
    height: 10rem
}


.card:hover {
    transform: scale(1.1);
    transition: .4s;
}

.card-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    border-bottom: 1px solid saddlebrown;
    border-left: 1px solid saddlebrown;
    border-radius: 4px;
    text-shadow: 2px 2px rgb(180, 116, 116);
    overflow: hidden;
    height: 40px;
    width: auto;
}

.category-select {
    border: none;
    background-color: rgb(red, green, rgba(22, 22, 193, 0.946));
}

section>.splide__track>ul>li {
    opacity: 0.0;
    z-index: 0;
}

section>.splide__track>ul>.is-visible {
    opacity: 0.101;
    transition: 0.5s;


}


section>.splide__track>ul>.is-active {
    opacity: 1;
    transition: 0.5s;

}



section>.splide__track>ul>.is-prev {
    opacity: 0.8;
    transition: 1s;
}

section>.splide__track>ul>.is-next {
    opacity: 0.8;
    transition: 1s;
    z-index:-1;
}

.hr-slide {
    display: none;
}

@media only screen and (max-width: 768px) {

    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 200px;
    }

    .n-control {
        display: none;
    }

    .card-article {
        width: 10rem;
        margin: auto;
    }

    .splide-3,
    .splide-2>.splide__track>.splide__list>.splide__slide>.card-body {
        width: 100%;
    }

    .col-cat {
        margin-right: 10px;
    }

    .hr-slide {
        display: block;
    }

    .col-cat {
        display: none;
    }

}
