.card-article {
    width: 18rem;
    margin: auto;
}


.carousel-inner>.carousel-item>img {
    width: 100%;
    height: 20rem
}

.card-article>.card-body>.card-title {
    text-align: right;
}

.card-article>.card-body>.card-text {
    text-align: right;
}

.n-control>.carousel-item>img {
    width: 100%;
    height: 10rem
}


.card:hover {
    opacity: 0.8;
    box-shadow: 10px 10px 10px 10px rgb(207, 202, 222);
}

.card-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hr-slide{
    display: none;
}

@media only screen and (max-width: 768px) {

    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 200px;
    }

    .n-control {
        display: none;
    }

    .card-article {
        width: 10rem;
        margin: auto
    }

    .splide-3,.splide-2>.splide__track>.splide__list>.splide__slide>.card-body {
        width: 100%;
    }

    .col-cat{
        margin-right: 10px;
    }

    .hr-slide{
        display: block;
    }
}
