body {
    background-color: #dbd9d9;
    color: #000000;
}

body.dark-mode {
    background-color: #2b2b2b;
    color: #ffffff;

}

.carousel {
    overflow: hidden;
}

.card-article {
    width: 18rem;
    margin: auto;

}


.col-md-4 .row {
    height: 50%;
}



.dark-mode-card {
    background-color: #4f4e4e;
}

.category-select {
    background-color: #dbd9d9;
}

.category-select.dark-mode-cat {
    all: unset;
    background-color: #4f4e4e;
    width: 8rem;
    height: 2rem;
}

.carousel-inner>.carousel-item>img {
    width: 100%;
    height: 20rem;


}

.card-article>.card-body>.card-title {
    text-align: right;
}

.card-article>.card-body>.card-text {
    text-align: right;
}

.n-control>.carousel-item>img {
    width: 100%;
    height: 10rem
}


.splide__slide:hover {
    transform: scale(1.1);
    transition: .4s;
    overflow-block: clip;
}

.card-text,
.card-title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.title {
    border-bottom: 1px solid saddlebrown;
    border-left: 1px solid saddlebrown;
    border-radius: 4px;
    overflow: hidden;
    height: 42px;
    width: auto;
}

.category-select {
    border: none;
    background-color: rgb(red, green, rgba(22, 22, 193, 0.946));
}

.category-select.cat-select-dark {
    color: white;
}

section>.splide__track>ul>:not(.is-active, .is-visible, .is-prev, .is-next) {
    opacity: 0.0;

}

section>.splide__track>ul>.is-visible {
    opacity: 0.1;
    transition: 0.5s;
    z-index: -2;

}

.card-cam {
    width: fit-content;
    height: fit-content;
    background-color: rgb(51, 162, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    border: 1px solid rgb(117, 112, 112);
    border-radius: 4px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



section>.splide__track>ul>.is-active {
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
}



section>.splide__track>ul>:is(.is-prev, .is-next) {
    opacity: 0.8;
    transition: 1s;
    z-index: -1;
}


.image-com {
    max-width: 25rem;
    margin-right: 13rem;
    margin: auto;
}

.top-slider-con {
    background-color: #b7b7b7;
    height: 32rem;
}

.ques-slider {
    height: 38rem;
    background-color: #b7b7b7;

}


.top-slider-con.dark-mode {
    background-color: rgb(91, 90, 90);
}

.ques-slider.dark-mode {
    background-color: rgb(91, 90, 90);

}

.hr-slide {
    display: none;
}

.row-com {
    border: 1px solid rgb(206, 110, 110);
    border-radius: 10px;
    overflow: hidden;
}

.image-div {
    background-color: rgb(86, 211, 211);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

.img-fluid {
    max-width: 80%;
    height: auto;
    margin: auto;
}

.social-icons a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #ffc107;
    /* رنگ زرد برای جلوه ی بهتر هنگام هاور */
}



@media only screen and (max-width: 768px) {

    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 150px;
    }

    .top-slider-con {
        height: 17rem;
    }


    .ques-slider {
        height: 51rem;
        background-color: #b7b7b7;

    }

    .n-control {
        height: 100px;
    }

    .card-article {
        width: 10rem;
        margin: auto;
    }

    .splide-3,
    .splide-2>.splide__track>.splide__list>.splide__slide>.card-body {
        width: 100%;
    }

    .col-cat {
        margin-right: 10px;
    }

    .hr-slide {
        display: block;
    }

    .col-cat {
        display: none;
    }

    .image-div {
        display: none;
    }

    .col-com {
        display: none;
    }

    .row-com {
        text-align: center;
    }

    .image-div {
        display: none;
    }

    .card-cam {
        top: 0%;
        left: 0%;
        transform: translate(4.4%, 0%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --text-color: #ffffff;
    }
}
