body {
    background-color: rgba(148, 139, 139, 0.652)
}

.navbar {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(110, 45, 45, 0.18);
    z-index: 100
}

.dropdown-menu {
    display: none;
}

.nav-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    /* در حالت اولیه ناپیدا */
    transition: border-bottom-color 0.5s;
    /* انتقال رنگ border */
}



.nav-link:hover {
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.dropdown:hover>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    /* Align to right */
}

.user-dropdown>li>.dropdown-item {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
}

.user-dropdown>li>.dropdown-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s, left 0.5s;
}

.user-dropdown>li>.dropdown-item:hover::after {
    width: 100%;
    left: 0;
}

.dropdown-submenu>a::after {
    display: inline-block;
    content: " ";
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    /* Change to top for rtl */
    vertical-align: middle;
    margin-right: .5em;
}

.dropdown-submenu:hover>a::after {
    opacity: 0.0
}

.fa-user {
    font-size: 38px;
    color: black;
    border: 2px solid rgb(156, 118, 118);
    border-radius: 100%;
    overflow: hidden;


}

.nav-mb {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    /* بالاتر از سایر محتوای صفحه */
    transition: transform 0.3s ease;
}

.nav-mb.hide {
    transform: translateY(100%);
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    right: 25%;
    margin-top:1%
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

@media only screen and (max-width: 768px) {

    .navbar-brand::after {
        content: "Web3Log";
    }
    .navbar-toggler{
        display: none;
    }
    .switch {
        right: 5%;
        margin-top:2%
    }
}
